h1 {
    color: yellow;
    text-align: center;
}

img {
    width: 300px;
    height: 400px;
}

body {
    background-color: orangered;
}

th, td {
    padding: 10px;
}

h2 {
    text-decoration: underline;
}

blockquote {
    font-style: italic;
}